body{ background-color: #617bD2; }
.content{ margin-top: 60px; margin-left: 0px;}
.logo{ height: 50px; }
.navbar .nav{ margin-left: 15px; }
/*input.buscar{ transition: width .4s; }*/
input.buscar:focus{ width: 350px; }

.header .navbar-default{ background-color: #47A447; border-color: #50B050; }
.header .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a{color: #FFF;}
.header .navbar-default .navbar-nav>li>a:hover{ color: #555; }
.header .navbar-default .navbar-nav>.active>a{
	background-color: #5CB85C;
}

.footer nav{
	text-align: center;
	background-color: #ddd; 
	width: 940px; 
	margin: 25px auto 10px;
	padding: 5px;
}
