body{ background-color: #F1F1F1; }
.content{ margin-top: 60px; margin-left: 0px;}
.logo{ height: 50px; }


input.buscar:focus{ width: 350px; }
.logo{ 
	background-image: url('/static/images/logo.png');
	background-size: 129px 50px;
	height: 50px; width: 129px;
	margin-left: 15px;
}
/* logo nav-var preset */
.logo,.nav.navbar-nav{ margin-left: 15px; }
.header .navbar-nav .inner-text, a.trigger>.inner-text{ display: none;}

a:focus 
{
	outline: none;
}

.panelsito 
{
	position: fixed;
	top: 80px;
	right: 0px;
	display: none;
	background: rgba(0,0,0,.95);
	border:2px solid #444;
	border-right: none;
	-moz-border-radius: 20px 0px 0px 20px;
	-webkit-border-radius: 20px 0px 0px 20px;
	width: 540px;
	height: auto;
	padding: 10px 10px 10px 100px;
	filter: alpha(opacity=85);
}
 
.panelsito p
{
	margin: 0px 0px 15px 0px;
	padding: 0px;
	color: #CCC;
}
 
.panelsito a, .panelsito a:visited
{
	margin: 0px;
	padding: 0px;
	color: #9FC54E;
	text-decoration: none;
	border-bottom: 1px solid #9FC54E;
}
 
.panelsito a:hover, .panelsito a:visited:hover
{
	margin: 0px;
	padding: 0px;
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px solid #FFF;
}
 
a.trigger
{
	position: fixed;
	top: 90px; right: 0px;
	padding: 20px 40px 20px 15px;
	
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	font-weight: 700;
	
	color:#FFF;
	background:#333;
	border:1px solid #444;
	-moz-border-radius: 20px 0px 0px 20px;
	-webkit-border-radius: 20px 0px 0px 20px;
	

	display: block;
}
 
a.trigger:hover
{
	padding-right: 60px;
	text-decoration: none;
	background:#222;
}
 
a.active.trigger 
{

	background:#222222 url(images/minus.png) 85% 55% no-repeat;

}
 
.columna-nav
{
	clear: both;
	width: 330px;
	padding: 0px 0px 20px 0px;
	line-height: 22px;
}

ul
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
 
ul li
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/*  low resolution responsive */
@media only screen  and (max-device-width : 1024px){
	.content{
		margin-top: 110px;
	}
	.header .up_wrap{
		width: 100%;
		/*border-bottom: dashed 1px #999;*/
		background-color: #F0F0F0;
	}
	.logo, .navbar-brand{ display: inline-block; }
	.header .navbar-nav .inner-text{ display: inline; }
	.panelsito{ top: 190px; }
	a.trigger{  top: 200px;}
}