{% load staticfiles %}
<div class="row">
	<nav class="navbar navbar-default navbar-fixed-top">
		<ul class="nav navbar-nav">
			{% for navItem in navBar %}
				{% if navItem == currentNav  %}
			<li class="active">
				{% else %}
			<li>
				{% endif %}
				<a href="/{{ navItem }}/">{{ navItem|capfirst }}</a>
			</li>
			
			{% endfor %}
			
		</ul>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="buscar form-control" placeholder="Buscar">
			</div>
			<button type="submit" class="btn btn-success">Buscar</button>
		</form>
		<a class="navbar-brand" href="#">Fundacion Amigos de Gilbert</a>
		<img src="{% static 'images/logo.png' %}" alt="" class="logo">
	</nav>
</div>